{
    "name": "fintech/devstarter",
    "type": "project",
    "description": "The skeleton application for the Laravel framework.",
    "keywords": [
        "laravel",
        "framework"
    ],
    "license": "MIT",
    "require": {
        "php": "^8.1",
        "ext-imagick": "*",
        "ext-json": "*",
        "ext-pdo": "*",
        "fintech/airtime": "*",
        "fintech/auth": "*",
        "fintech/banco": "*",
        "fintech/bell": "*",
        "fintech/business": "*",
        "fintech/core": "*",
        "fintech/gift": "*",
        "fintech/metadata": "*",
        "fintech/promo": "*",
        "fintech/reload": "*",
        "fintech/remit": "*",
        "fintech/tab": "*",
        "fintech/transaction": "*",
        "guzzlehttp/guzzle": "^7.2",
        "laravel/framework": "^10.10",
        "laravel/sanctum": "^3.3",
        "league/flysystem-aws-s3-v3": "^3.0",
        "mongodb/laravel-mongodb": "^4.0@RC",
        "owen-it/laravel-auditing": "^13.5",
        "rakutentech/laravel-request-docs": "^2.23",
        "spatie/laravel-permission": "^5.11",
        "spatie/laravel-translatable": "^6.5"
    },
    "require-dev": {
        "barryvdh/laravel-debugbar": "^3.9",
        "fakerphp/faker": "^1.9.1",
        "fintech/generators": "*",
        "laravel/pint": "^1.0",
        "mockery/mockery": "^1.4.4",
        "nunomaduro/collision": "^7.0",
        "phpunit/phpunit": "^10.1",
        "spatie/laravel-ignition": "^2.0"
    },
    "autoload": {
        "psr-4": {
            "App\\": "app/",
            "Database\\Factories\\": "database/factories/",
            "Database\\Seeders\\": "database/seeders/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "Tests\\": "tests/"
        }
    },
    "scripts": {
        "post-autoload-dump": [
            "Illuminate\\Foundation\\ComposerScripts::postAutoloadDump",
            "@php artisan package:discover --ansi"
        ],
        "post-update-cmd": [
            "@php artisan vendor:publish --tag=laravel-assets --ansi --force"
        ],
        "post-root-package-install": [
            "@php -r \"file_exists('.env') || copy('.env.example', '.env');\""
        ],
        "post-create-project-cmd": [
            "@php artisan key:generate --ansi"
        ]
    },
    "extra": {
        "laravel": {
            "dont-discover": []
        }
    },
    "config": {
        "optimize-autoloader": true,
        "preferred-install": "dist",
        "sort-packages": true,
        "allow-plugins": {
            "pestphp/pest-plugin": true,
            "php-http/discovery": true
        }
    },
    "minimum-stability": "dev",
    "prefer-stable": true,
    "repositories": [
        {
            "type": "path",
            "url": "./packages/Auth",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Airtime",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Banco",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Bell",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Business",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Core",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Generator",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Gift",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/MetaData",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Promo",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Reload",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Remit",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Tab",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "./packages/Transaction",
            "options": {
                "symlink": true
            }
        }
    ]
}
